$white: #c0caf5; $fg: #a9b1d6; $fg-d: #9aa5ce;
                               $grey: #565f89;
                             $grey-1: #414868;
                             $grey-2: #3b4261;
                             $grey-3: #2a2f46;
$black: #1a1b26; $bg: #24283b; $bg-d: #1f2335;

$red-d:    #e0617a; $red:    #f7768e; $red-l:    #ff8ba2;
$orange-d: #e4874e; $orange: #ff9e64; $orange-l: #ffb67a;
$yellow-d: #c79852; $yellow: #e0af68; $yellow-l: #fac77e;
$green-d:  #85b553; $green:  #9ece6a; $green-l:  #b7e882;
$cyan-d:   #58c0b0; $cyan:   #73daca; $cyan-l:   #8ef5e4;
$azure-d:  #6cb1dc; $azure:  #86caf6; $azure-l:  #a0e4ff;
$blue-d:   #5784d5; $blue:   #7aa2f7; $blue-l:   #91b7ff;
$purple-d: #997ad4; $purple: #bb9af7; $purple-l: #d2b0ff;
$pink-d:   #df7fbe; $pink:   #f896d6; $pink-l:   #ffaeee;

$red-gd:    #4d2a30; $red-g:    #753c45; $red-gl:    #d0a4a9;
$orange-gd: #503424; $orange-g: #784d33; $orange-gl: #d0ac98;
$yellow-gd: #473925; $yellow-g: #6a5435; $yellow-gl: #bba891;
$green-gd:  #354126; $green-g:  #4d6236; $green-gl:  #9fad8d;
$cyan-gd:   #2a4540; $cyan-g:   #3c6760; $cyan-gl:   #9ab8b2;
$azure-gd:  #2f404c; $azure-g:  #446073; $azure-gl:  #afc2d1;
$blue-gd:   #2c354c; $blue-g:   #3f4e74; $blue-gl:   #9fadd8;
$purple-gd: #3c334c; $purple-g: #5a4b74; $purple-gl: #c6bad9;
$pink-gd:   #4d3243; $pink-g:   #744a65; $pink-gl:   #d9b8cc;

$sakura:    #ffb7c5;
$beige:     #cfc9c2;
$celeste:   #b4f9f8;
$turquoise: #2ac3de;
$navy:      #222d56;
