$sans-serif: Albert Sans;
$monospace: Liga Hack;
$font-size: 20px;

* {
  all: unset;
}

window {
  color: $fg;
  font-family: $sans-serif;
  font-size: $font-size;
}

.debug {
  border: 1px solid $pink;
}

.ramp {
  &-1 {
    color: $blue-gd;
    transition: color 1.25s $ease-out-snap;
  }
  &-2 {
    color: $blue-g;
    transition: color 1.25s $ease-out-snap;
  }
  &-3 {
    color: $blue-d;
    transition: color 1.25s $ease-out-snap;
  }
  &-4 {
    color: $blue;
    transition: color 1.25s $ease-out-snap;
  }
  &-5 {
    color: $azure;
    transition: color 1.25s $ease-out-snap;
  }
  &-6 {
    color: $cyan-l;
    transition: color 1.25s $ease-out-snap;
  }
  &-7 {
    color: $green-l;
    transition: color 1.25s $ease-out-snap;
  }
  &-8 {
    color: $yellow-l;
    transition: color 1.25s $ease-out-snap;
  }
  &-9 {
    color: $orange;
    transition: color 1.25s $ease-out-snap;
  }
  &-10 {
    color: $red-l;
    transition: color 1.25s $ease-out-snap;
  }
  &-11 {
    color: $red;
    transition: color 1.25s $ease-out-snap;
  }
  &-12 {
    color: $red-d;
    transition: color 1.25s $ease-out-snap;
  }
  &-crit {
    color: $pink;
    font-weight: bold;
    transition: color 1.25s $ease-out-snap;
  }
}
