configuration {
	font:							"Open Sans 16";
    drun-display-format:            "{name}";
    fullscreen:                     false;
	hide-scrollbar: 				true;
}

@import "variables.rasi"

window {
    transparency:                   "screenshot";
    location:                       north east;
    background-color:               @background;
    text-color:                     @foreground;
	border:							0% 0.2% 0.3% 0.2%;
	border-color:					@blue;
    border-radius:                  8% 0% 8% 3%;
    x-offset:                       20;
    y-offset:                       48;
    width:                          30%;
}

mainbox {
    background-color:               @background;
	border:							0% 0.15% 0.25% 0.15%;
    border-radius:                  7.7% 0% 7.7% 2.7%;
	border-color:					@cyan;
    children:                       [ inputbar, listview ];
    spacing:                        1%;
    padding:                        0% 2% 2% 1%;
}

prompt {
    enabled: 						true;
	background-color: 				@background;
	text-color: 					@blue-br;
    margin:                         0% 0% 0% 0%;
}


textbox-prompt-colon {
	expand: 						false;
	str: 							"system uptime:";
	background-color: 				@background;
	text-color: 					@blue;
    font:                           "Open Sans Bold 16";
    padding:                        0% 6px 0% 0.4%;
}

inputbar {
	children: 						[ textbox-prompt-colon, prompt ];
    background-color:               @background;
    text-color:                     @foreground;
    expand:                         false;
	border:							0% 0% 0.1% 0.05%;
    border-radius:                  1.5% 0% 3% 1%;
	border-color:					@blue-br;
    margin:                         0% -1.6% 0% 14.5%;
    padding:                        1% 0% 1% 0.3%;
}


listview {
    background-color:               @background;
    spacing:                        3%;
    columns:                        3;
    lines:                          1;
    fixed-height:                   false;
    cycle:                          true;
    dynamic:                        true;
    layout:                         vertical;
}


element {
    background-color:               @background;
    text-color:                     @foreground;
    orientation:                    vertical;
}

element-text {
    background-color:               @background;
    orientation:                    vertical;
    text-color:                     @foreground;
	font:							"Hack Nerd Font 28";
    expand:                         false;
    horizontal-align:               0.5;
    vertical-align:                 0.5;
    margin:                         0% 0% 0% 0%;
    padding:                        1.5% 0% 1.5% 0%;
}

element-text selected {
    background-color:               @background;
    text-color:                     @orange;
	border:							0% 0.1% 0% 0.1%;
    border-radius:                  4% 1% 4% 1%;
    border-color:                  	@cyan;
}
