$white: #c0caf5;
$fg: #a9b1d6;
$fg-d: #9aa5ce;
$grey: #565f89;
$grey-1: #414868;
$grey-2: #3b4261;
$grey-3: #2a2f46;
$bg: #24283b;
$bg-alt: #242838;
$bg-d: #1f2335;
$bg-d-alt: #1b1d2c;
$black: #1a1b26;

$fg:  #e7e9f5;  // 231 06 96
$fg1: #ccd1e8;  // 229 12 91
$fg2: #b4bcdb;  // 228 18 86

$g7:  #848fb8;  // 227 28 72
$g6:  #6d779e;  // 228 31 62
$g5:  #586085;  // 229 34 52
$g4:  #434a6b;  // 230 37 42

$bg:  #222536;  // 231 37 21
$bg1: #171928;  // 233 42 16
$bg2: #11121c;  // 235 39 11

$black: #131316;  // 240 14 09
$dark:  #0f0f10;  // 240 06 06

$red0:    #ff94ab; // 347 42 100
$red:     #f57389; // 350 53 96
$red1:    #eb384d; // 353 76 100

$orange0: #ffbd94; // 23 42 100
$orange:  #f59f73; // 20 53 96
$orange1: #eb6b38; // 17 76 92

$yellow0: #ffef94; // 51 42 100
$yellow:  #f5db73; // 48 53 96
$yellow1: #ebbd38; // 45 76 92

$green0:  #bdff94; // 97 42 100
$green:   #9ff573; // 100 53 96
$green1:  #6aeb38; // 103 76 92

$lime0:   #94ffb4; // 138 42 100
$lime:    #73f593; // 135 53 96
$lime1:   #38eb5c; // 132 76 92

$cyan0:   #94fff3; // 173 42 100
$cyan:    #73f5df; // 170 53 96
$cyan1:   #38ebc5; // 167 76 92

$azure0:  #94e1ff; // 197 42 100
$azure:   #73caf5; // 200 53 96
$azure1:  #38a6eb; // 203 76 92

$blue0:   #94afff; // 000 42 100
$blue:    #738ef5; // 228 53 96
$blue1:   #3853eb; // 231 76 92

$purple0: #b294ff; // 257 42 100
$purple:  #9e73f5; // 260 53 96
$purple1: #7d38eb; // 263 76 92

$pink0:   #ff94df; // 318 42 100
$pink:    #f573d5; // 315 53 96
$pink1:   #eb38bd; // 313 76 92


// First try:
//    69, 42
// Then try the following, using random test driven development ⮯
// fibonacci:
//    8, 13, 21, 34, 55, 89, 144, 233
// pascal:
//    6, 10, 15, 20, 35, 56, 70, 126, 210, 252
// prime:
//    5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53,
//    59, 61, 67, 71, 73, 79, 83, 89, 97
// historical / date / random / frequent:
//    25, 27, 28, 37, 48, 53, 57, 76, 87, 96
// finally, 2^n

$red-d: #e0617a;
$red: #f7768e;
$red-l: #ff8ba2;
$orange-d: #e4874e;
$orange: #ff9e64;
$orange-l: #ffb67a;
$yellow-d: #c79852;
$yellow: #f5ce73;
$yellow-l: #fac77e;
$green-d: #85b553;
$green: #9ece6a;
$green-l: #b7e882;
$cyan-d: #58c0b0;
$cyan: #73daca;
$cyan-l: #8ef5e4;
$azure-d: #6cb1dc;
$azure: #86caf6;
$azure-l: #a0e4ff;
$blue-d: #5784d5;
$blue: #7aa2f7;
$blue-l: #91b7ff;
$purple-d: #997ad4;
$purple: #bb9af7;
$purple-l: #d2b0ff;
$pink-d: #df7fbe;
$pink: #f896d6;
$pink-l: #ffaeee;

$red-gd: #4d2a30;
$red-g: #753c45;
$red-gl: #d0a4a9;
$orange-gd: #503424;
$orange-g: #784d33;
$orange-gl: #d0ac98;
$yellow-gd: #473925;
$yellow-g: #6a5435;
$yellow-gl: #bba891;
$green-gd: #354126;
$green-g: #4d6236;
$green-gl: #9fad8d;
$cyan-gd: #2a4540;
$cyan-g: #3c6760;
$cyan-gl: #9ab8b2;
$azure-gd: #2f404c;
$azure-g: #446073;
$azure-gl: #afc2d1;
$blue-gd: #2c354c;
$blue-g: #3f4e74;
$blue-gl: #9fadd8;
$purple-gd: #3c334c;
$purple-g: #5a4b74;
$purple-gl: #c6bad9;
$pink-gd: #4d3243;
$pink-g: #744a65;
$pink-gl: #d9b8cc;

$sakura: #ffb7c5;
$beige: #cfc9c2;
$celeste: #b4f9f8;
$turquoise: #2ac3de;
$royal: #4169e1;
$navy: #222d56;

// gradient_color_1 = '#90a6d1'
// gradient_color_2 = '#91bcd1'
// gradient_color_3 = '#95c4b4'
// gradient_color_4 = '#c0ca8e'
// gradient_color_5 = '#ded199'
// gradient_color_6 = '#e9b189'
// gradient_color_7 = '#e98989'
// gradient_color_8 = '#d982ab'
