// ================================ imports ===================================
@import 'scss/colors';
@import 'scss/animations';
@import 'scss/core';
@import 'scss/mixins';
// ============================================================================

.music {
  &-cover {
    @include corner-image($red);
  }
  &-progress {
    color: $red-d;
    &-circle {
      background: $black;
      &-icon {
        font-size: 25px;
        margin: 3px;
      }
    }
  }
  &-playing {
    color: $red;
  }
  &-paused {
    color: $red-g;
  }
  &-info {
    color: $red;
    @include box-decor($red, 'top-left');
  }
}

.audio {
  @include box-decor($red, 'top-left');
  font-family: $monospace;
}

.weather {
  @include box-decor($orange, 'top-left');
  &-icons {
    background-size: cover;
    background-position: center;
    min-width: 1.5em;
  }
}

.time {
  @include box-decor($orange, 'top-center');
  &-text {
    font-size: 2.5em;
  }
  &-clockface {
    font-size: 0.4em;
    margin-top: 6px;
    &-hour {
      font-family: $monospace;
    }
  }
  &-hour {
    @include clock-hover($red-d, $red-l);
  }
  &-minute {
    @include clock-hover($blue-d, $blue-l);
  }
  &-alarm {
    margin-right: -6px;
    &-icon {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    &-subtext {
      font-size: 0.8em;
    }
  }
  &-timer {
    margin-left: -6px;
    &-icon {
      margin-top: 3px;
    }
    &-subtext {
      font-family: $monospace;
      margin-top: 1px;
      font-size: 0.69em;
    }
  }
}

.date {
  @include box-decor($orange, 'top-right');
  font-family: $default-font;
}

.cpu {
  @include box-decor($blue, 'top-right');
  &-busy-icon {
    font-size: 1.15em;
  }
  &-bars {
    font-size: 0.9em;
    margin-right: -6px;
  }
}

.memory {
  @include box-decor($blue, 'top-right');
  &-bars {
    margin-top: 2px;
    margin-right: -8px;
  }
  &-busy-icon {
    margin-right: 3px;
  }
}

.gpu {
  @include box-decor($blue, 'top-right');
  &-mclock {
    &-icon {
      font-size: 1.15em;
      margin-right: 7px;
      margin-top: -1px;
    }
  }
  &-fan-icon {
    margin-right: 5px;
  }
  &-vram {
    &-icon {
      font-size: 1.15em;
      margin-right: 4px;
    }
    &-bars {
      margin-top: 2px;
      margin-right: -8px;
    }
  }
}

.user {
  @include corner-image($blue, 'right');
  margin-left: -10px;
}

.actions {
  color: $blue;
}

.workspaces {
  color: $fg;
}

.network {
  color: $green;
}
