//  █████╗ ███████╗███████╗████████╗██╗  ██╗███████╗████████╗██╗ ██████╗
// ██╔══██╗██╔════╝██╔════╝╚══██╔══╝██║  ██║██╔════╝╚══██╔══╝██║██╔════╝
// ███████║█████╗  ███████╗   ██║   ███████║█████╗     ██║   ██║██║
// ██╔══██║██╔══╝  ╚════██║   ██║   ██╔══██║██╔══╝     ██║   ██║██║
// ██║  ██║███████╗███████║   ██║   ██║  ██║███████╗   ██║   ██║╚██████╗
// ╚═╝  ╚═╝╚══════╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚══════╝   ╚═╝   ╚═╝ ╚═════╝
// ============================================================================
// 🚧 core: {{{

* {
  all: unset;
}

$sans-serif: Albert Sans;
$monospace: LigaHack Nerd Font;
$ease-out-snap: cubic-bezier(0.25, 0.575, 0.565, 1.314);

@import 'colors';

tooltip {
  color: $orange;
  font-size: 20px;
  background-color: rgba($bg, 0.95);
  border: 1px solid $orange-g;
  border-radius: 10px 24px 12px 20px;
}

window {
  color: $blue;
  font-family: $sans-serif, $monospace;
  font-size: 20px;
}

.debug {
  border: 1px solid $pink;
}

.trC {
  transition: color 0.5s $ease-out-snap;
}

.trM {
  transition: margin 0.25s $ease-out-snap;
}

.trA {
  transition: all 0.25s $ease-out-snap;
}

.ramp {
  &-1 {
    color: $blue-gd;
  }
  &-2 {
    color: $blue-g;
  }
  &-3 {
    color: $blue-d;
  }
  &-4 {
    color: $blue;
  }
  &-4-alt {
    color: $blue-l;
  }
  &-5 {
    color: $azure;
  }
  &-6 {
    color: $cyan-l;
  }
  &-7 {
    color: $green-l;
  }
  &-7-alt {
    color: $green-d;
  }
  &-8 {
    color: $yellow-l;
  }
  &-9 {
    color: $orange;
  }
  &-10 {
    color: $red-l;
  }
  &-11 {
    color: $red;
  }
  &-12 {
    color: $red-d;
  }
  &-crit {
    color: $pink;
  }
}

.unit {
  font-size: 0.69em;
  margin-top: 5px;
  margin-left: 2px;
}

.svgbox {
  background: {
    size: 120%;
    repeat: no-repeat;
    position: center;
    color: rgba($bg, 0.23);
  }

  min: {
    width: 64px;
    height: 64px;
  }

  border: {
    style: solid;
    color: $blue;
    width: 1px 0px 1px 2px;
    radius: 50% 27% 48% 87%;
  }

  margin: {
    top: 30px;
    right: 0;
    bottom: 30px;
    left: 30px;
  }

  box-shadow: -2px 0px 7px 1px rgba($purple, 0.23);

  &-hover {
    background-color: rgba($navy, 0.42);
    min: {
      width: 128px;
      height: 128px;
    }
    border-radius: 42% 27% 48% 48%;
    border-color: $orange;
    box-shadow: -2px 0px 6px 1px rgba($red, 0.42);
  }
}

// }}}
// 🪟 windows: {{{

.sound,
.computer {
  margin-bottom: 16px; // leave room for box-shadow
}
// }}}
// ♻️  mixins: {{{

@mixin box-decor($position) {
  background: rgba($bg, 0.69);
  color: $blue;
  border-top: 1px double $blue;
  padding: 4px 1.1em;
  margin: 16px 8px 30px 8px;

  @if $position == 'top-left' {
    border-right: 2px solid $blue;
    border-radius: 420px 17px 420px 69px;
    box-shadow: -3px 2px 3px 1px rgba($blue-d, 0.16);
  }

  @if $position == 'top-right' {
    border-left: 2px solid $blue;
    border-radius: 17px 420px 69px 420px;
    box-shadow: 3px 2px 3px 1px rgba($blue-d, 0.21);
    font-family: $monospace;
  }

  @if $position == 'top-center-left' {
    border-right: 2px solid $blue;
    border-top: 1px double $blue;
    color: $blue;
    border-radius: 420px 17px 420px 69px;
    box-shadow: -3px 2px 3px 1px rgba($blue-d, 0.16);
  }

  @if $position == 'top-center-right' {
    border-left: 2px solid $blue;
    border-top: 1px double $blue;
    color: $blue;
    border-radius: 17px 420px 69px 420px;
    box-shadow: 3px 2px 3px 1px rgba($blue-d, 0.16);
  }

  @if $position == 'top-center' {
    border-radius: 27px 27px 69px 69px;
    border-right: 1px solid $blue;
    border-bottom: 2px solid $blue;
    border-left: 1px solid $blue;
    box-shadow: 0px 2px 7px 1px rgba($purple, 0.23);
    padding: 0px 1.3em 11px 1.3em;
    margin: -7px 16px 30px 16px;
  }
}

@mixin cycle($color, $duration: 4s) {
  color: $color;
  transition: color $duration ease-in-out;
}

// }}}
// ============================================================================

// 🎵 music: {{{
.music {
  &-cover {
    transition: all 0.25s $ease-out-snap;
    background-repeat: no-repeat;
    background-size: 100%;

    min-width: 80px;
    min-height: 80px;

    border-style: solid;
    border-color: $blue;
    border-width: 0px 2px 2px 0px;
    border-radius: 0px 27px 69px 27px;
    margin: 0px 20px 20px 0px;
    box-shadow: 1px 3px 7px 1px rgba($purple, 0.23);

    &-hover {
      min-height: 160px;
      min-width: 160px;
      border-color: $orange;
      border-radius: 0px 54px 138px 54px;
      box-shadow: 1px 3px 6px 1px rgba($red, 0.42);
    }
  }
  &-progress {
    color: $blue-d;
    &-circle {
      background: $blue-gd;
      &-icon {
        font-size: 25px;
        margin: 4px -4px 4px 5px;
      }
    }
  }
  &-volume {
    transition: color 0.5s $ease-out-snap;
    &-icon {
      margin: 6px -3px 6px 6px;
    }
  }
  &-playing {
    color: $blue;
    transition: color 1.25s $ease-out-snap;
  }
  &-paused {
    color: $blue-g;
    transition: color 1.25s $ease-out-snap;
  }
  &-info {
    @include box-decor('top-left');
  }
  &-artist {
    color: $blue-d;
  }
  &-album {
    color: $blue;
    &-single {
      color: $blue-l;
    }
  }
  &-title {
    color: $blue-l;
  }
  &-inactive {
    color: $blue-g;
  }
}
// }}}
// 🎤 audio: {{{
.audio {
  @include box-decor('top-left');
  font-family: $monospace;
  padding: 4px 0.9em 4px 1.3em;
  &-volume {
    transition: color 0.5s $ease-out-snap;
  }
  &-source,
  &-sink {
    &-circle {
      color: $blue-g;
    }
  }
  &-source {
    &-icon {
      margin: 5px -4px 5px 8px;
      &-inactiveFix {
        margin: 5px -3px 5px 7px;
      }
    }
  }
  &-sink {
    &-icon {
      font-size: 0.9em;
      margin: 8px -2px 7px 10px;
      &-inactiveFix {
        font-size: 0.9em;
        margin: 8px 0px 7px 8px;
      }
    }
  }
}
// }}}

// 🌧️ weather: {{{
.weather {
  @include box-decor('top-center-left');
  &-base {
    @include cycle($blue-d);
    &-alt {
      @include cycle($blue);
    }
  }
  &-moon {
    color: $white;
    &-full {
      color: #ffffff;
    }
  }
  &-air {
    @include cycle($blue-l);
  }
  &-rain {
    @include cycle($royal);
  }
  &-night {
    @include cycle($white);
  }
  &-sunset {
    @include cycle($sakura);
  }
  &-morn {
    @include cycle($blue-d);
  }
  &-day {
    @include cycle($orange-l);
  }
  &-max {
    @include cycle($red-l);
  }
  &-eve {
    @include cycle($pink);
  }
  &-night {
    @include cycle($purple-d);
  }
  &-index {
    &-base {
      @include cycle($blue);
    }
    &-none {
      @include cycle($blue-g);
    }
    &-low {
      @include cycle($green-d);
    }
    &-moderate {
      @include cycle($yellow);
    }
    &-high {
      @include cycle($orange-l);
    }
    &-very-high {
      @include cycle($red);
    }
    &-crit {
      @include cycle($pink);
    }
  }
}
// }}}
// 🕐 time: {{{
.time {
  @include box-decor('top-center');
  &-text {
    font-family: Fira Code;
    font-weight: 500;
    font-size: 2.3em;
  }
  &-clockface {
    font-size: 9px;
    margin: 2px -5px 0 3px;
  }
  &-hour,
  &-minute {
    &-inactive {
      transition: color 0.5s $ease-out-snap;
      color: $blue-l;
    }
    &-active {
      transition: color 0.5s $ease-out-snap;
      color: $orange;
      &:hover {
        color: $orange-l;
        transition: color 0.5s $ease-out-snap;
      }
    }
  }
  &-alarm {
    &-icon {
      margin-top: 2px;
      margin-bottom: -1px;
    }
    &-subtext {
      font-size: 0.8em;
      margin-right: 2px;
    }
  }
  &-timer {
    margin-left: -5px;
    margin-right: 2px;
    &-icon {
      margin-top: 3px;
      margin-left: 1px;
    }
    &-subtext {
      font-family: $monospace;
      margin-top: 1px;
      font-size: 0.69em;
    }
  }
}
// }}}
// 📆 date: {{{
.date {
  @include box-decor('top-center-right');
  &-base {
    @include cycle($blue);
    &-alt {
      @include cycle($blue-l);
    }
  }
  &-alive {
    @include cycle($blue-g);
  }
  &-day {
    font-weight: bold;
    font-size: 1.1em;
  }
  &-Monday {
    @include cycle($purple);
  }
  &-Tuesday,
  &-Thursday {
    @include cycle($green-l);
  }
  &-Wednesday {
    @include cycle($orange-l);
  }
  &-Friday {
    @include cycle($royal);
  }
  &-Satuday,
  &-Sunday {
    @include cycle($pink);
  }
}
// }}}

// 🖥️ computer: {{{
.cpu {
  @include box-decor('top-right');
  &-busy-icon {
    font-size: 1.15em;
    margin-right: 3px;
  }
  &-bars {
    font-size: 0.9em;
    margin: 2px -8px 0 -3px;
  }
}

.memory {
  @include box-decor('top-right');
  &-bars {
    margin-top: 2px;
    margin-right: -8px;
  }
  &-busy-icon {
    margin-right: 4px;
  }
}

.gpu {
  @include box-decor('top-right');
  &-mclock {
    &-icon {
      font-size: 1.15em;
      margin: -1px 8px 0 3px;
    }
  }
  &-fan-icon {
    margin-right: 6px;
    margin-left: 2px;
  }
  &-vram {
    &-icon {
      font-size: 1.15em;
      margin-right: 4px;
    }
    &-bars {
      margin: 2px -8px 0 -3px;
    }
  }
}
// }}}
// 🤓 user: {{{
.userbox {
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 0 -4px;
  min-width: 80px;
  min-height: 80px;

  border-style: solid;
  border-color: $blue;
  border-width: 0px 0px 2px 2px;
  border-radius: 27px 0 27px 69px;
  margin: 0 0 20px 20px;
  box-shadow: -1px 3px 7px 1px rgba($purple, 0.23);

  &-hover {
    min-height: 160px;
    min-width: 160px;
    border-radius: 54px 0 54px 138px;
    border-color: $orange;
    box-shadow: -1px 3px 6px 1px rgba($red, 0.42);
  }
}

// }}}

// 👾 workspaces: {{{

.workspace {
  transition: all 0.25s $ease-out-snap;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-width: 34px;
  min-height: 34px;
  margin-bottom: 11px;
}

.ws {
  &-2 {
    margin-left: 4px;
  }
  &-5 {
    margin-left: 4px;
  }
}

.workspaces-box {
  background: rgba($bg, 0.23);
  border-color: $blue;
  border-style: solid;
  border-width: 2px 1px 0 1px;
  border-radius: 69px 69px 17px 21px;
  box-shadow: 0px -2px 7px 1px rgba($purple, 0.23);
  padding: 11px 27px 0 27px;
  margin: 30px 18px -6px 18px;
  transition: all 0.25s $ease-out-snap;
  &-hovered {
    background-color: rgba($navy, 0.31);
    border-color: $orange;
    box-shadow: 0px 0px 6px 1px rgba($red, 0.42);
  }
}
// }}}

// 🔔 dunst: {{{

.dunst-count {
  color: $blue-d;
  transition: all 0.25s $ease-out-snap;
  font-family: $monospace;
  font-size: 14px;
  margin-left: 38px;
  margin-top: 6px;
  border: 1px solid $blue-g;
  padding: 0px 5px;
  border-radius: 24px;
  &-alert {
    border: 0px;
    padding: 0;
    color: $pink-d;
    font-size: 18px;
    margin-left: 42px;
    margin-top: 6px;
  }
  &-0 {
    border: 0px;
    padding: 0;
    color: $blue-g;
    font-size: 18px;
    margin-left: 44px;
    margin-top: 7px;
  }
}

// }}}
// 📶 signal: {{{
.net {
  transition: margin 0.25s $ease-out-snap;
  font-size: 8px;

  &-up {
    margin-bottom: 32px;
    margin-left: -8px;
    &-hover {
      margin-bottom: 36px;
      margin-left: 30px;
    }
  }
  &-down {
    margin-bottom: 4px;
    margin-left: 6px;
    &-hover {
      margin-top: 24px;
      margin-left: 16px;
    }
  }
  &-ping {
    font-size: 9px;
    margin-top: 32px;
    margin-left: 5px;
    &-hover {
      font-size: 9px;
      margin-top: 4px;
      margin-left: 6px;
    }
  }
}

// }}}

// 📦 pacman: {{{
.pacman {
  transition: all 0.25s $ease-out-snap;
  &-hover {
    color: $orange;
    text-shadow: 0px 0px 2px rgba($red, 0.42);
  }
}
// }}}
// 🎛️ systemctl: {{{
.systemctl {
  &-box {
    transition: all 0.25s ease-out;
    background-repeat: no-repeat;
    background-size: 100%;

    min-width: 80px;
    min-height: 80px;

    border-style: solid;
    border-color: $blue;
    border-width: 2px 0px 0px 2px;
    border-radius: 69px 27px 0px 27px;
    margin: 20px 0px 0px 20px;
    box-shadow: -1px -3px 7px 1px rgba($purple, 0.23);

    &-hover {
      background-color: rgba($navy, 0.42);
      min-height: 95px;
      min-width: 95px;
      border-radius: 120px 37px 0px 37px;
      border-color: $orange;
      box-shadow: -1px -3px 6px 1px rgba($red, 0.42);
    }
  }
  &-restart {
    color: $green-d;
    font-size: 1.2em;
    margin: 48px 0 0 12px;
  }
  &-lock {
    color: $blue-d;
    font-size: 1.2em;
    margin: -24px 0px 0 -10px;
  }
  &-poweroff {
    color: $red-d;
    font-size: 1.2em;
    margin: -50px 0px 0 0px;
  }
}
// }}}
