! desktop
Xft.dpi: 120

! ╔═╗┌─┐┌┐┌┌┬┐
! ╠╣ │ ││││ │
! ╚  └─┘┘└┘ ┴
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: flase
Xft.lcdfilter: lcdefault

! special
*.foreground:   #d3d5df
*.background:   #1b1d27
*.cursorColor:  #d3d5df

! black
*.color0:       #1b1d27
*.color8:       #3D3F52

! red
*.color1:       #e67979
*.color9:       #ff9695

! green
*.color2:       #94b47e
*.color10:      #b1d29a

! yellow
*.color3:       #e6a579
*.color11:      #ffc295

! blue
*.color4:       #77a2cf
*.color12:      #94bfed

! magenta
*.color5:       #a98fd1
*.color13:      #c7abef

! cyan
*.color6:       #7fb5b1
*.color14:      #9cd3ce

! white
*.color7:       #d3d5df
*.color15:      #6c749d
