/**
 * Custom css for ytmusic desktop
 * https://github.com/ytmdesktop/ytmdesktop
 * ~/.config/ytmusic-desktop-desktop-app/custom/css/
 *    the config.json needs > "settings-custom-css-page": true
*/

html, body {
    color: #ded5df !important;
    background-color: #1b1d27 !important;
}

::-webkit-scrollbar {
    width: 0px !important;
}

.ytmusic-player-page {
    background-color: #1b1d27 !important;
}

#nav-bar-background {
    background-color: #1e2132 !important;
}

ytmusic-player-bar{
    background-color: #1e2132 !important;
    width: 100% !important;
}

#nav-bar-divider {
    display: none !important;
}
