[Desktop Entry]
Type=Application
Version=1.0
Name=gifview
Comment=A command-line command of gifsicle for viewing gifs
Path=/usrs/bin/gifview
Exec=gifview -a
Icon=mpv
Terminal=true
MimeType=image/gif
