// ┬  ┬┌─┐┬─┐┬┌─┐┌┐ ┬  ┌─┐┌─┐
// └┐┌┘├─┤├┬┘│├─┤├┴┐│  ├┤ └─┐
//  └┘ ┴ ┴┴└─┴┴ ┴└─┘┴─┘└─┘└─┘
// fonts
$sans-serif: Albert Sans, sans-serif;
$monospace: Hack Nerd Font, monospace;

$fg: #c0caf5;
$bg: #24283b;
$tbg: rgb(36, 40, 59, 0.87);
$dark: #0d1826;

$pri: #f2a0a7;
$sec: #d982ab;
$tert: #7b6cb1;
$minor: #7e88bf;
$minimal: #3d4f73;

$blue: #7aa2f7;
$cyan: #7dcfff;
$orange: #ff9e64;
$yellow: #e0af68;
$green: #9ece6a;
$red: #f7768e;

// ┌┐ ┌─┐┌─┐┌─┐
// ├┴┐├─┤└─┐├┤
// └─┘┴ ┴└─┘└─┘
window {
  &#waybar {
    font-family: $monospace;
    font-size: 20px;
    background: transparent;
    color: $fg;
  }
}

tooltip {
  background: $tbg;
  border-radius: 16px;
  font-size: 2em;
}

tooltip label {
  color: white;
}

// ┌┬┐┌─┐┌┬┐┬ ┬┬  ┌─┐┌─┐  ┬  ┌─┐┌─┐┌┬┐
// ││││ │ │││ ││  ├┤ └─┐  │  ├┤ ├┤  │
// ┴ ┴└─┘─┴┘└─┘┴─┘└─┘└─┘  ┴─┘└─┘└   ┴

#custom-launcher {
  font-size: 1.4em;
}

#custom-layout {
  font-size: 1.2em;
  margin-left: -13px;
}

#custom-pacman {
  font-size: 1.1em;
  margin-top: 1px;
  margin-left: -2px;
}

// ┌┬┐┌─┐┌┬┐┬ ┬┬  ┌─┐┌─┐  ┌─┐┌─┐┌┐┌┌┬┐┌─┐┬─┐
// ││││ │ │││ ││  ├┤ └─┐  │  ├┤ │││ │ ├┤ ├┬┘
// ┴ ┴└─┘─┴┘└─┘┴─┘└─┘└─┘  └─┘└─┘┘└┘ ┴ └─┘┴└─

#clock {
  background-color: $bg;
  border-radius: 16px;
  padding: 0 1em;
}

#workspaces {
  button {
    padding: 0 0.5em;
    font-size: 1.6em;
    color: $fg;
    border: none;
    box-shadow: none;

    &:hover {
      color: $tert;
      background: none;
      border: none;
    }

    &.active {
      color: $pri;
    }

    &.urgent {
      color: $red;
    }
  }
}

#custom-dunst {
  font-size: 0.9em;
  margin-top: 5px;
  margin-right: -5px;
}

#tray {
  margin-top: 6px;

  menu {
    background-color: $bg;
    color: $fg;
  }
}

// ┌┬┐┌─┐┌┬┐┬ ┬┬  ┌─┐┌─┐  ┬─┐┬┌─┐┬ ┬┌┬┐
// ││││ │ │││ ││  ├┤ └─┐  ├┬┘││ ┬├─┤ │
// ┴ ┴└─┘─┴┘└─┘┴─┘└─┘└─┘  ┴└─┴└─┘┴ ┴ ┴

#network {
  &.ethernet {
    color: $green;
  }

  &.disconnected {
    color: $red;
  }
}
