#nav-bar {
    background-color: var(--bg) !important;
    box-shadow: none !important;
    padding-top: 2px !important;
}

/* Toolbar buttons */
.toolbarbutton-1 {
    fill: var(--cyan) !important;
    transition: var(--in-out) !important;
}   

.toolbarbutton-1:hover,
.toolbarbutton-1[open="true"] {
    fill: var(--orange-br) !important;
}

.chromeclass-toolbar-additional:hover {
    color: var(--orange-br) !important;
}

.toolbarbutton-1[disabled] {
    fill: var(--blue) !important;
}

.toolbarbutton-1 .toolbarbutton-icon,
.toolbarbutton-1 .toolbarbutton-badge-stack {
    background: none !important;
}

#back-button, #forward-button {
    visibility: collapse !important;
}

#PanelUI-button {
    margin-inline-start: 0 !important;
    padding-inline-start: 0 !important;
    padding-right: 1px !important;
    border: none !important;
    border-inline-start: none !important;
}

#urlbar-input {
    color: var(--fg) !important;
}

#urlbar-input::selection {
   background-color: var(--bg) !important;
   color: var(--blue) !important;
}    

#urlbar #urlbar-background {
    background-color: var(--dark) !important;
    border: 1px inset var(--black) !important;
    border-radius: 6px !important;
    box-shadow: none !important;
}
#urlbar[open="true"] #urlbar-background {
    border-radius: 9px !important;
}

.urlbarView:not(.megabar) .urlbarView-row:not([type="tip"]):hover,
.urlbarView.megabar .urlbarView-row:not([type="tip"]):hover > .urlbarView-row-inner {
    background: none !important;
}

.urlbarView
    #urlbar-results
    .urlbarView-row[aria-selected="true"]
    .urlbarView-row-inner {
    border: 1px outset var(--orange) !important;
    border-radius: 6px !important;
    color: var(--orange-br) !important;
}

.urlbarView.megabar .urlbarView-body-inner {
    border: 0 !important;
}
.urlbarView #urlbar-results {
    color: var(--fg) !important;
}
.urlbarView #urlbar-results .urlbarView-row .urlbarView-url {
    color: var(--blue-grey) !important;
}

.urlbarView-row-inner {
    background: none !important;
}

.urlbarView-row-inner:hover {
    color: var(--orange-br) !important;
}

.urlbarView-body-inner {
    border-top: 0px !important; 
}

.urlbarView-type-icon,
.search-one-offs,
.urlbarView-favicon 
{
    display: none !important;
}


#page-action-buttons {
   margin-right: 4px !important; 
   background: none !important;
}

.urlbar-icon,
#identity-box,
#tracking-protection-icon-container {
    color: var(--fg) !important;   
    background: none !important;    
    transition: var(--in-out) !important;
}

#star-button {
    background: var(--dark) !important;
}   

.urlbar-icon:hover, 
#star-button:hover,
#identity-box:hover,
#star-button[starred]:hover,
#tracking-protection-icon-container:hover
{
    fill-opacity: 0.9 !important;
    fill: var(--orange-br) !important;
}

#star-button[starred] {
    fill: var(--cyan) !important;
}

.identity-box-button:hover:not([open="true"]), #tracking-protection-icon-container:hover:not([open="true"]) {
    background-color: var(--dark) !important;
}
#urlbar-zoom-button {
    border: 1px solid var(--blue-br) !important;
    background-color: var(--dark) !important;
    color: var(--blue) !important;
    transition: all var(--in-out) !important;
    margin-bottom: 1px !important;
}
#urlbar-zoom-button:hover {
    border-color: var(--orange) !important;
    color:  var(--orange-br) !important;
}

#pageActionSeparator {
    display: none !important;
}