#tabs-newtab-button .toolbarbutton-icon {
     visibility: collapse !important;
}

toolbarbutton#scrollbutton-up, toolbarbutton#scrollbutton-down,
toolbarbutton#new-tab-button, toolbarbutton#alltabs-button {
    visibility: collapse !important;
}

.tabbrowser-tab .tab-close-button {
    visibility: collapse !important;
}

.tabbrowser-tab .tab-text {
    opacity: 1 !important;
}

.tabbrowser-tab::after {
    visibility: collapse !important;
}

.tab-background .tab-line {
    display: none !important;
}

.tabbrowser-tab[label="New Tab"] .tab-icon-image {
   display: none !important; 
}

.tabbrowser-tab .tab-stack {
    background: var(--bg) !important;
    border: 1px outset var(--blue) !important;
    margin: 2px 0px 3px 4px !important;
    border-radius: 4px !important;
    color: var(--blue-grey) !important;
    transition: all var(--in-out) !important;
}
.tabbrowser-tab .tab-background {
    border: none !important;
    transition: all var(--in-out) !important;
}

.tabbrowser-tab:hover .tab-stack{
    color: var(--cyan) !important;
    border: 1px outset var(--cyan-br) !important;
}

.tabbrowser-tab:hover .tab-background {
    background: var(--bg) !important;
    border-radius: 4px !important;
}

.tabbrowser-tab[selected] .tab-stack {
    border: 1px outset var(--orange-br) !important;
    color: var(--orange) !important;
}

.tabbrowser-tab[selected] .tab-background {
    background: var(--bg) !important;
    border-radius: 4px !important;  
}

#tabbrowser-tabs {
  --uc-tab-curve-size:10px;
  --uc-tabs-scrollbutton-border: 0px;
  --proton-tab-block-margin:0px;
  --tab-min-height: 24px; 
}

.tab-icon-sound-label {
    visibility: collapse !important;
}

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox{
    min-height: 0 !important; 
}

.accessibility-indicator,
.private-browsing-indicator{ 
  height: unset !important;
}

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"] {
  transition: all var(--in-out) !important;
  visibility: collapse !important;
}