// ┌┐ ┌─┐┌─┐┬ ┬┌─┐┌─┐┬─┐┌┬┐
// ├┴┐├┤ ├─┤│ │├┤ │ │├┬┘ │
// └─┘└─┘┴ ┴└─┘└  └─┘┴└─ ┴
.wi-wind-beaufort-0:before 							{content: $wind-beaufort-0;}
.wi-wind-beaufort-1:before 							{content: $wind-beaufort-1;}
.wi-wind-beaufort-2:before 							{content: $wind-beaufort-3;}
.wi-wind-beaufort-4:before 							{content: $wind-beaufort-4;}
.wi-wind-beaufort-5:before 							{content: $wind-beaufort-6;}
.wi-wind-beaufort-7:before 							{content: $wind-beaufort-7;}
.wi-wind-beaufort-8:before 							{content: $wind-beaufort-9;}
.wi-wind-beaufort-10:before 						{content: $wind-beaufort-10;}
.wi-wind-beaufort-11:before 						{content: $wind-beaufort-12;}

// ┌┬┐┌─┐┬ ┬
//  ││├─┤└┬┘
// ─┴┘┴ ┴ ┴
.wi-day-sunny:before 										{content: $day-sunny;}
.wi-day-cloudy:before 									{content: $day-cloudy-gusts;}
.wi-day-cloudy-windy:before 						{content: $day-cloudy-windy;}
.wi-day-fog:before 											{content: $day-hail;}
.wi-day-haze:before 										{content: $day-haze;}
.wi-day-lightning:before 								{content: $day-rain;}
.wi-day-rain-mix:before 								{content: $day-rain-mix;}
.wi-day-rain-wind:before 								{content: $day-showers;}
.wi-day-sleet:before 										{content: $day-sleet;}
.wi-day-sleet-storm:before 							{content: $day-snow;}
.wi-day-snow-thunderstorm:before 				{content: $day-snow-thunderstorm;}
.wi-day-snow-wind:before 								{content: $day-sprinkle;}
.wi-day-storm-showers:before 						{content: $day-storm-showers;}
.wi-day-sunny-overcast:before 					{content: $day-thunderstorm;}
.wi-day-windy:before 										{content: $day-windy;}
.wi-solar-eclipse:before 								{content: $hot;}
.wi-day-cloudy-high:before 							{content: $day-cloudy-high;}
.wi-day-light-wind:before 							{content: $direction-up;}

// ┌┬┐┬┬─┐┌─┐┌─┐┌┬┐┬┌─┐┌┐┌
//  │││├┬┘├┤ │   │ ││ ││││
// ─┴┘┴┴└─└─┘└─┘ ┴ ┴└─┘┘└┘
.wi-direction-up-right:before 					{content: $direction-up-right;}
.wi-direction-right:before 							{content: $direction-down-right;}
.wi-direction-down:before 							{content: $direction-down;}
.wi-direction-down-left:before 					{content: $direction-left;}
.wi-direction-up-left:before 						{content: $direction-up-left;}

// ┌┬┐┬┌─┐┌─┐
// ││││└─┐│
// ┴ ┴┴└─┘└─┘
.wi-alien:before 												{content: $celsius;}
.wi-fahrenheit:before 									{content: $fahrenheit;}
.wi-degrees:before 											{content: $thermometer;}
.wi-thermometer-exterior:before 				{content: $thermometer-exterior;}
.wi-thermometer-internal:before 				{content: $cloud-down;}
.wi-cloud-up:before 										{content: $cloud-up;}
.wi-cloud-refresh:before 								{content: $horizon;}
.wi-horizon-alt:before 									{content: $horizon-alt;}
.wi-sunrise:before 											{content: $sunset;}
.wi-moonrise:before 										{content: $moonrise;}
.wi-moonset:before 											{content: $refresh;}
.wi-refresh-alt:before 									{content: $refresh-alt;}
.wi-umbrella:before 										{content: $barometer;}
.wi-humidity:before 										{content: $humidity;}
.wi-na:before 													{content: $train;}

// ┌┬┐┌─┐┌─┐┌┐┌
// ││││ ││ ││││
// ┴ ┴└─┘└─┘┘└┘
.wi-moon-0:before 											{content: $moon-new;}
.wi-moon-1:before 											{content: $moon-waxing-crescent-2;}
.wi-moon-3:before 											{content: $moon-waxing-crescent-3;}
.wi-moon-4:before 											{content: $moon-waxing-crescent-5;}
.wi-moon-6:before 											{content: $moon-waxing-crescent-6;}
.wi-moon-7:before 											{content: $moon-waxing-gibbous-1;}
.wi-moon-9:before 											{content: $moon-waxing-gibbous-2;}
.wi-moon-10:before 											{content: $moon-waxing-gibbous-4;}
.wi-moon-12:before 											{content: $moon-waxing-gibbous-5;}
.wi-moon-13:before 											{content: $moon-full;}
.wi-moon-15:before 											{content: $moon-waning-gibbous-1;}
.wi-moon-16:before 											{content: $moon-waning-gibbous-3;}
.wi-moon-18:before 											{content: $moon-waning-gibbous-4;}
.wi-moon-19:before 											{content: $moon-waning-gibbous-6;}
.wi-moon-21:before 											{content: $moon-third-quarter;}
.wi-moon-22:before 											{content: $moon-waning-crescent-2;}
.wi-moon-24:before 											{content: $moon-waning-crescent-3;}
.wi-moon-25:before 											{content: $moon-waning-crescent-5;}
.wi-moon-27:before 											{content: $moon-waning-crescent-6;}
.wi-moon-new:before 										{content: $moon-waxing-crescent-1;}
.wi-moon-waxing-crescent-2:before 			{content: $moon-waxing-crescent-2;}
.wi-moon-waxing-crescent-3:before 			{content: $moon-waxing-crescent-4;}
.wi-moon-waxing-crescent-5:before 			{content: $moon-waxing-crescent-5;}
.wi-moon-waxing-crescent-6:before 			{content: $moon-first-quarter;}
.wi-moon-waxing-gibbous-1:before 				{content: $moon-waxing-gibbous-1;}
.wi-moon-waxing-gibbous-2:before 				{content: $moon-waxing-gibbous-3;}
.wi-moon-waxing-gibbous-4:before 				{content: $moon-waxing-gibbous-4;}
.wi-moon-waxing-gibbous-5:before 				{content: $moon-waxing-gibbous-6;}
.wi-moon-full:before 										{content: $moon-full;}
.wi-moon-waning-gibbous-1:before 				{content: $moon-waning-gibbous-2;}
.wi-moon-waning-gibbous-3:before 				{content: $moon-waning-gibbous-3;}
.wi-moon-waning-gibbous-4:before 				{content: $moon-waning-gibbous-5;}
.wi-moon-waning-gibbous-6:before 				{content: $moon-waning-gibbous-6;}
.wi-moon-third-quarter:before 					{content: $moon-waning-crescent-1;}
.wi-moon-waning-crescent-2:before 			{content: $moon-waning-crescent-2;}
.wi-moon-waning-crescent-3:before 			{content: $moon-waning-crescent-4;}
.wi-moon-waning-crescent-5:before 			{content: $moon-waning-crescent-5;}
.wi-moon-waning-crescent-6:before 			{content: $moon-alt-new;}
.wi-moon-alt-waxing-crescent-1:before 	{content: $moon-alt-waxing-crescent-1;}
.wi-moon-alt-waxing-crescent-2:before 	{content: $moon-alt-waxing-crescent-3;}
.wi-moon-alt-waxing-crescent-4:before 	{content: $moon-alt-waxing-crescent-4;}
.wi-moon-alt-waxing-crescent-5:before 	{content: $moon-alt-waxing-crescent-6;}
.wi-moon-alt-first-quarter:before 			{content: $moon-alt-first-quarter;}
.wi-moon-alt-waxing-gibbous-1:before 		{content: $moon-alt-waxing-gibbous-2;}
.wi-moon-alt-waxing-gibbous-3:before 		{content: $moon-alt-waxing-gibbous-3;}
.wi-moon-alt-waxing-gibbous-4:before 		{content: $moon-alt-waxing-gibbous-5;}
.wi-moon-alt-waxing-gibbous-6:before 		{content: $moon-alt-waxing-gibbous-6;}
.wi-moon-alt-full:before 								{content: $moon-alt-waning-gibbous-1;}
.wi-moon-alt-waning-gibbous-2:before 		{content: $moon-alt-waning-gibbous-2;}
.wi-moon-alt-waning-gibbous-3:before 		{content: $moon-alt-waning-gibbous-4;}
.wi-moon-alt-waning-gibbous-5:before 		{content: $moon-alt-waning-gibbous-5;}
.wi-moon-alt-waning-gibbous-6:before 		{content: $moon-alt-third-quarter;}
.wi-moon-alt-waning-crescent-1:before 	{content: $moon-alt-waning-crescent-1;}
.wi-moon-alt-waning-crescent-2:before 	{content: $moon-alt-waning-crescent-3;}
.wi-moon-alt-waning-crescent-4:before 	{content: $moon-alt-waning-crescent-4;}
.wi-moon-alt-waning-crescent-5:before 	{content: $moon-alt-waning-crescent-6;}

// ┌┐┌┌─┐┬ ┬┌┬┐┬─┐┌─┐┬
// │││├┤ │ │ │ ├┬┘├─┤│
// ┘└┘└─┘└─┘ ┴ ┴└─┴ ┴┴─┘
.wi-cloud:before 												{content: $cloud;}
.wi-cloudy:before 											{content: $cloudy-gusts;}
.wi-cloudy-windy:before 								{content: $cloudy-windy;}
.wi-fog:before 													{content: $hail;}
.wi-rain:before 												{content: $rain;}
.wi-rain-mix:before 										{content: $rain-wind;}
.wi-showers:before 											{content: $showers;}
.wi-sleet:before 												{content: $snow;}
.wi-sprinkle:before 										{content: $sprinkle;}
.wi-storm-showers:before 								{content: $thunderstorm;}
.wi-snow-wind:before 										{content: $snow-wind;}
.wi-snow:before 												{content: $smog;}
.wi-smoke:before 												{content: $smoke;}
.wi-lightning:before 										{content: $raindrops;}
.wi-raindrop:before 										{content: $raindrop;}
.wi-dust:before 												{content: $snowflake-cold;}
.wi-windy:before 												{content: $windy;}
.wi-strong-wind:before 									{content: $sandstorm;}
.wi-earthquake:before 									{content: $earthquake;}
.wi-fire:before 												{content: $flood;}
.wi-meteor:before 											{content: $meteor;}
.wi-tsunami:before 											{content: $volcano;}
.wi-hurricane:before 										{content: $hurricane;}
.wi-tornado:before 											{content: $small-craft-advisory;}
.wi-gale-warning:before 								{content: $gale-warning;}
.wi-storm-warning:before 								{content: $hurricane-warning;}
.wi-wind:before                         {content: $wind; }

// ┌┐┌┬┌─┐┬ ┬┌┬┐
// │││││ ┬├─┤ │
// ┘└┘┴└─┘┴ ┴ ┴
.wi-night-clear:before 									{content: $night-clear;}
.wi-night-alt-cloudy:before 						{content: $night-alt-cloudy-gusts;}
.wi-night-alt-cloudy-windy:before 			{content: $night-alt-cloudy-windy;}
.wi-night-alt-hail:before 							{content: $night-alt-lightning;}
.wi-night-alt-rain:before 							{content: $night-alt-rain;}
.wi-night-alt-rain-mix:before 					{content: $night-alt-rain-wind;}
.wi-night-alt-showers:before 						{content: $night-alt-showers;}
.wi-night-alt-sleet:before 							{content: $night-alt-sleet-storm;}
.wi-night-alt-snow:before 							{content: $night-alt-snow;}
.wi-night-alt-snow-thunderstorm:before 	{content: $night-alt-snow-wind;}
.wi-night-alt-sprinkle:before 					{content: $night-alt-sprinkle;}
.wi-night-alt-storm-showers:before 			{content: $night-alt-thunderstorm;}
.wi-night-cloudy:before 								{content: $night-cloudy;}
.wi-night-cloudy-gusts:before 					{content: $night-cloudy-windy;}
.wi-night-fog:before 										{content: $night-fog;}
.wi-night-hail:before 									{content: $night-lightning;}
.wi-night-partly-cloudy:before 					{content: $night-partly-cloudy;}
.wi-night-rain:before 									{content: $night-rain-mix;}
.wi-night-rain-wind:before 							{content: $night-rain-wind;}
.wi-night-showers:before 								{content: $night-sleet;}
.wi-night-sleet-storm:before 						{content: $night-sleet-storm;}
.wi-night-snow:before 									{content: $night-snow-thunderstorm;}
.wi-night-snow-wind:before 							{content: $night-snow-wind;}
.wi-night-sprinkle:before 							{content: $night-storm-showers;}
.wi-night-thunderstorm:before 					{content: $night-thunderstorm;}
.wi-lunar-eclipse:before 								{content: $stars;}
.wi-storm-showers:before 								{content: $storm-showers;}
.wi-thunderstorm:before 								{content: $night-alt-cloudy-high;}
.wi-night-cloudy-high:before 						{content: $night-cloudy-high;}
.wi-night-alt-partly-cloudy:before 			{content: $time-1;}

// ┌┬┐┬┌┬┐┌─┐
//  │ ││││├┤
//  ┴ ┴┴ ┴└─┘
.wi-time-2:before 											{content: $time-2;}
.wi-time-3:before 											{content: $time-4;}
.wi-time-5:before 											{content: $time-5;}
.wi-time-6:before 											{content: $time-7;}
.wi-time-8:before 											{content: $time-8;}
.wi-time-9:before 											{content: $time-10;}
.wi-time-11:before 											{content: $time-11;}
.wi-time-12:before 											{content: $time-12;}
