@import '_variables.css';
@import '_dev-tools.css';


@-moz-document url-prefix(about:) {
    html:not(#ublock0-epicker),
    html:not(#ublock0-epicker) body,
    #newtab-customize-overlay {
        background: var(--bg) !important;
    }

    .outer-wrapper {
        background-image: url(https://raw.githubusercontent.com/nosvagor/dotfiles/refactor/resources/wallpapers/jelly-3840x2160.jpg) !important;
        background-position: 50% !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    #search-container,#toolbar {
        background-color: var(--bg) !important;
    }

    #about-config-search {
        background: var(--bg) !important;
        border: 1px inset var(--blue-grey) !important;
        border-radius: 6px !important;
        color: var(--fg) !important;
        transition: var(--in-out);
    }

    #prefs {
        background-color: var(--bg) !important;
        border: 1px inset var(--blue-grey) !important;
        border-radius: 6px !important;
    }

    .ghost-button {
        background: var(--black) !important;
        border: 1px outset var(--blue-grey) !important;
        border-radius: 6px !important;
        transition: all var(--in-out);
    }

    .ghost-button:hover,
    .ghost-button[open=true] {
        background: var(--bg) !important;
        border: 1px inset var(--blue-grey) !important;
    }

    .sticky-container {
        background-color: var(--black) !important;
    }

    .personalize-button {
        visibility: collapse !important;
    }
}

/* goodbye scrollbar */
*:not(select) {
    scrollbar-width: none !important;
}

@-moz-document url(about:privatebrowsing) {
	:root{
		scrollbar-width: none !important;
	}
}
