snippet bang "shbang and basic info" bA
#!/usr/bin/env bash

$0
endsnippet

snippet desc "Description" bA
###############################################################################
# Author: cullyn
# Date Created: `date '+%B, %d %Y'`
# Last Modified: `date '+%B, %d %Y'`

# Description:
# $1

# Usage:
# $2
###############################################################################

$0
endsnippet

snippet mod "script modified" bA
# Last Modified: `date '+%B, %d %Y'`
endsnippet
