$bg: #222536;
$drk-0: #1e2133;
$drk-1: #181b2c;
$drk-2: #131626;
$drk-3: #0d0f1b;
$fg: #aeb9f8;
$brt-0: #b6c0f7;
$brt-1: #bec6f8;
$brt-2: #cad1fb;
$brt-3: #d1d8ff;
$rby-0: #f34658;
$rby-1: #f36978;
$rby-2: #f07a88;
$rby-3: #f08898;
$rby-4: #f29ca9;
$his-0: #824141;
$his-1: #b15e5b;
$his-2: #c67a79;
$his-3: #d09490;
$rst-0: #493531;
$rst-1: #563e39;
$rst-2: #694b44;
$rst-3: #805a52;
$rst-4: #92675d;
$rst-5: #a3786d;
$orn-0: #e56b2c;
$orn-1: #ea834b;
$orn-2: #eb905d;
$orn-3: #f2a170;
$orn-4: #f8b486;
$sun-0: #f3a338;
$sun-1: #f5b855;
$sun-2: #f5c069;
$sun-3: #f4ce88;
$sun-4: #f5d599;
$pro-0: #505831;
$pro-1: #717b45;
$pro-2: #8a945b;
$pro-3: #9ea876;
$olv-0: #383a39;
$olv-1: #414342;
$olv-2: #505251;
$olv-3: #5f6361;
$olv-4: #6e7270;
$olv-5: #818382;
$grn-0: #5b9542;
$grn-1: #73ad5a;
$grn-2: #85ba6d;
$grn-3: #95cb79;
$grn-4: #9fd883;
$emr-0: #2d9a43;
$emr-1: #48a95b;
$emr-2: #5aba6d;
$emr-3: #5fc976;
$emr-4: #76d78b;
$tyr-0: #375c47;
$tyr-1: #4b8163;
$tyr-2: #5a9c78;
$tyr-3: #72b08e;
$cy2-0: #2bb198;
$cy2-1: #30c9b0;
$cy2-2: #38d2ba;
$cy2-3: #50dec8;
$cy2-4: #75e6d5;
$sky-0: #369fd7;
$sky-1: #54b0e2;
$sky-2: #6bbdec;
$sky-3: #7cc5ef;
$sky-4: #90d1f5;
$glu-0: #3b557c;
$glu-1: #5b77a4;
$glu-2: #7690b9;
$glu-3: #90a4c7;
$slt-0: #343852;
$slt-1: #3c4162;
$slt-2: #484e75;
$slt-3: #585f8d;
$slt-4: #686ea1;
$slt-5: #7b7fb0;
$blu-0: #4a6be3;
$blu-1: #6380ec;
$blu-2: #7492ef;
$blu-3: #8aa4f3;
$blu-4: #9db2f4;
$glc-0: #252841;
$glc-1: #282b48;
$glc-2: #30345a;
$glc-3: #3f4578;
$glc-4: #4e5492;
$glc-5: #5a61aa;
$prp-0: #7f61cd;
$prp-1: #9376d8;
$prp-2: #a188df;
$prp-3: #b29ae8;
$prp-4: #bdaaeb;
$asn-0: #6f447a;
$asn-1: #9961a7;
$asn-2: #af7dba;
$asn-3: #c193cd;
$pnk-0: #d15da6;
$pnk-1: #e36cb8;
$pnk-2: #ea76c0;
$pnk-3: #e887c3;
$pnk-4: #ed9acd;
$plm-0: #453445;
$plm-1: #523c52;
$plm-2: #634a64;
$plm-3: #765a77;
$plm-4: #876888;
$plm-5: #977998;
$blk-0: #1d1d21;
$blk-1: #16161a;
$blk-2: #101014;
$blk-3: #0b0b0f;
$wht-0: #c9c9e2;
$wht-1: #d3d3ed;
$wht-2: #ddddf6;
$wht-3: #e9e9fb;
$gry-0: #373945;
$gry-1: #3f414f;
$gry-2: #4f5163;
$gry-3: #5f6278;
$gry-4: #6d7089;
$gry-5: #7f8199;
