// ============================================================================
// 🧰 setup {{{

// 🎨 palette {{{

$bg: #222536;
$drk-0: #1e2133;
$drk-1: #181b2c;
$drk-2: #131626;
$drk-3: #0d0f1b;
$fg: #aeb9f8;
$brt-0: #b6c0f7;
$brt-1: #bec6f8;
$brt-2: #cad1fb;
$brt-3: #d1d8ff;
$rby-0: #f34658;
$rby-1: #f36978;
$rby-2: #f07a88;
$rby-3: #f08898;
$rby-4: #f29ca9;
$his-0: #824141;
$his-1: #b15e5b;
$his-2: #c67a79;
$his-3: #d09490;
$rst-0: #493531;
$rst-1: #563e39;
$rst-2: #694b44;
$rst-3: #805a52;
$rst-4: #92675d;
$rst-5: #a3786d;
$orn-0: #e56b2c;
$orn-1: #ea834b;
$orn-2: #eb905d;
$orn-3: #f2a170;
$orn-4: #f8b486;
$sun-0: #f3a338;
$sun-1: #f5b855;
$sun-2: #f5c069;
$sun-3: #f4ce88;
$sun-4: #f5d599;
$pro-0: #505831;
$pro-1: #717b45;
$pro-2: #8a945b;
$pro-3: #9ea876;
$olv-0: #383a39;
$olv-1: #414342;
$olv-2: #505251;
$olv-3: #5f6361;
$olv-4: #6e7270;
$olv-5: #818382;
$grn-0: #5b9542;
$grn-1: #73ad5a;
$grn-2: #85ba6d;
$grn-3: #95cb79;
$grn-4: #9fd883;
$emr-0: #2d9a43;
$emr-1: #48a95b;
$emr-2: #5aba6d;
$emr-3: #5fc976;
$emr-4: #76d78b;
$tyr-0: #375c47;
$tyr-1: #4b8163;
$tyr-2: #5a9c78;
$tyr-3: #72b08e;
$cyn-0: #2bb198;
$cyn-1: #30c9b0;
$cyn-2: #38d2ba;
$cyn-3: #50dec8;
$cy2-4: #75e6d5;
$sky-0: #369fd7;
$sky-1: #54b0e2;
$sky-2: #6bbdec;
$sky-3: #7cc5ef;
$sky-4: #90d1f5;
$glu-0: #3b557c;
$glu-1: #5b77a4;
$glu-2: #7690b9;
$glu-3: #90a4c7;
$slt-0: #343852;
$slt-1: #3c4162;
$slt-2: #484e75;
$slt-3: #585f8d;
$slt-4: #686ea1;
$slt-5: #7b7fb0;
$blu-0: #4a6be3;
$blu-1: #6380ec;
$blu-2: #7492ef;
$blu-3: #8aa4f3;
$blu-4: #9db2f4;
$glc-0: #252841;
$glc-1: #282b48;
$glc-2: #30345a;
$glc-3: #3f4578;
$glc-4: #4e5492;
$glc-5: #5a61aa;
$prp-0: #7f61cd;
$prp-1: #9376d8;
$prp-2: #a188df;
$prp-3: #b29ae8;
$prp-4: #bdaaeb;
$asn-0: #6f447a;
$asn-1: #9961a7;
$asn-2: #af7dba;
$asn-3: #c193cd;
$pnk-0: #d15da6;
$pnk-1: #e36cb8;
$pnk-2: #ea76c0;
$pnk-3: #e887c3;
$pnk-4: #ed9acd;
$plm-0: #453445;
$plm-1: #523c52;
$plm-2: #634a64;
$plm-3: #765a77;
$plm-4: #876888;
$plm-5: #977998;
$blk-0: #1d1d21;
$blk-1: #16161a;
$blk-2: #101014;
$blk-3: #0b0b0f;
$wht-0: #c9c9e2;
$wht-1: #d3d3ed;
$wht-2: #ddddf6;
$wht-3: #e9e9fb;
$gry-0: #373945;
$gry-1: #3f414f;
$gry-2: #4f5163;
$gry-3: #5f6278;
$gry-4: #6d7089;
$gry-5: #7f8199;

// }}}

* {
  all: unset;
}

window {
  color: $blu-2;
  font-family: sans-serif, monospace;
  font-size: 20px;
}

tooltip {
  background-color: rgba($bg, 0.9);
  color: $orn-2;
  font-family: "Architects Daughter", cursive;
  font-size: 1.25em;
  border: 1px solid $orn-3;
  border-radius: 10px 24px 12px 20px;
}

$ease-out-snap: cubic-bezier(0.25, 0.575, 0.565, 1.314);

.tr-c {
  transition: color 0.5s $ease-out-snap;
}

.tr-m {
  transition: margin 0.25s $ease-out-snap;
}

.tr-a {
  transition: all 0.25s $ease-out-snap;
}

.ramp {
  &-1 {
    color: $glc-3;
  }

  &-2 {
    color: $blu-0;
  }

  &-3 {
    color: $blu-1;
  }

  &-4 {
    color: $blu-2;
  }

  &-5 {
    color: $sky-2;
  }

  &-6 {
    color: $sky-4;
  }

  &-7 {
    color: $grn-3;
  }

  &-8 {
    color: $sun-3;
  }

  &-9 {
    color: $orn-3;
  }

  &-10 {
    color: $rby-3;
  }

  &-11 {
    color: $rby-1;
  }

  &-12 {
    color: $pnk-1;
  }
}

// }}}
// ♻️  mixins {{{

@mixin cycle($color, $duration: 4s) {
  color: $color;
  transition: color $duration ease-in-out;
}

@mixin imagebox($position: "left") {
  transition: all 0.25s $ease-out-snap;

  $x: 1px;
  $margin: 30px;

  // image properties
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center;
  min-width: 90px;
  min-height: 90px;
  opacity: 0.95;

  // border
  border-style: solid;
  border-color: $blu-1;
  border-width: 0 2px 3px 0;
  border-radius: 0 32% 87%;
  box-shadow: $x 3px 7px 1px rgba($blu-0, 0.42);
  margin: 0 $margin $margin 0;

  @if $position == "right" {
    $x: -1px;

    border-width: 0 0 3px 2px;
    border-radius: 32% 0 32% 87%;
    margin: 0 0 $margin $margin;
  }

  &-hover {
    opacity: 0.99;
    min-height: 180px;
    min-width: 180px;
    border-color: $orn-3;
    box-shadow: $x 3px 6px 1px rgba($rby-1, 0.69);
  }
}

@mixin svgbox($direction: "down") {
  background: {
    size: 120%;
    repeat: no-repeat;
    position: center;
    color: rgba($bg, 0.87);
  }

  min: {
    width: 64px;
    height: 64px;
  }

  border: {
    style: solid;
    color: $blu-2;
    width: 1px 0 1px 2px;
    radius: 50% 0% 48% 87%;
  }

  @if $direction == "up" {
    border-radius: 50% 28% 0% 87%;
  }

  margin: 30px 0 30px 30px;
  box-shadow: -2px 0 6px 1px rgba($blu-0, 0.42);

  &-hover {
    background-color: rgba($bg, 0.88);
    min: {
      width: 128px;
      height: 128px;
    }

    border-radius: 42% 0% 42% 48%;

    @if $direction == "up" {
      border-radius: 42% 32% 0% 48%;
    }

    border-color: $orn-3;
    box-shadow: -2px 0 6px 1px rgba($rby-1, 0.52);
  }
}

// }}}
// ============================================================================

// 🤖 assistant {{{
.assistantbox {
  @include imagebox(left);

  background-position: -6px 3px;
}

// }}}
// 🤓 user: {{{

.userbox {
  @include imagebox(right);

  background-position: 7px 2px;
}

// }}}

// 🎵 music: {{{
.album-art {
  transition: all 0.35s $ease-out-snap;
  background-repeat: no-repeat;
  background-size: 102%;
  background-position: center;
  min-width: 200px;
  min-height: 200px;
  border: 2px solid $blu-1;
  border-radius: 50%;
  margin: 30px;
  opacity: 0.8;
  box-shadow: 0 0 6px 1px rgba($blu-0, 0.69);

  &-hover {
    transition: all 0.35s $ease-out-snap;
    background-size: 112%;
    border-color: $orn-3;
    opacity: 0.95;
    box-shadow: 0 0 12px 2px rgba($rby-1, 0.87);
  }

  &-progress {
    color: rgba($blu-2, 0.87);
    background: rgba($bg, 0.25);

    &-hover {
      color: rgba($orn-3, 0.87);
    }
  }
}

.music {
  &-progress {
    color: $blu-1;

    &-circle {
      background: $glc-2;

      &-paused {
        color: $glc-2;
        background: $glc-1;
      }

      &-icon {
        font-size: 24px;
        margin: 4px 5px;

        &-playing {
          color: $blu-1;

          &:hover {
            color: $orn-3;
          }
        }

        &-paused {
          color: $blu-2;

          &:hover {
            color: $orn-3;
          }
        }
      }
    }
  }

  &-player-icon {
    margin: 5px 1px 5px 7px;
  }

  &-info {
    background: $bg;
    color: $blu-2;
    border-top: 1px solid $blu-1;
    padding: 4px 1.1em;
    margin: 16px 8px 30px 110px;
    border-right: 3px solid $blu-2;
    border-radius: 420px 17px 420px 69px;
    box-shadow: -3px 2px 3px 1px rgba($blu-0, 0.42);

    &-hover {
      border-color: $orn-3;
      box-shadow: -3px 2px 3px 1px rgba($rby-1, 0.42);
    }
  }

  &-artist {
    color: $blu-1;
    font-weight: 600;
  }

  &-album {
    color: $blu-2;
  }

  &-title {
    color: $blu-3;
  }

  &-inactive {
    color: $glc-3;
  }

  &-single {
    color: $blu-4;
    font-weight: 600;
  }
}

// }}}
// 🎤 audio: {{{
.audio {
  background: $bg;
  color: $blu-2;
  border-top: 1px solid $blu-2;
  margin: 16px 8px 30px;
  border-right: 3px solid $blu-2;
  border-radius: 420px 17px 420px 69px;
  box-shadow: -3px 2px 3px 1px rgba($blu-0, 0.42);
  padding: 4px 0.9em 4px 1.3em;

  &-hover {
    border-color: $orn-3;
    box-shadow: -3px 2px 3px 1px rgba($rby-1, 0.42);
  }

  &-source {
    &-icon {
      font-size: 17px;
      margin: 9px 9px 8px 10px;

      &-inactiveFix {
        font-size: 15px;
        margin: 8px 8px 7px 9px;
      }
    }
  }

  &-sink {
    &-icon {
      font-size: 17px;
      margin: 9px 9px 8px 10px;

      &-inactiveFix {
        font-size: 16px;
        margin: 8px 8px 7px;
      }
    }
  }
}

// }}}

// 🌧️ weather: {{{
.weather {
  background: $bg;
  padding: 4px 12px 4px 1.1em;
  margin: 16px 8px 50px;
  border-right: 3px solid $blu-1;
  border-top: 1px solid $blu-1;
  border-radius: 420px 17px 420px 69px;
  box-shadow: -3px 2px 3px 1px rgba($blu-0, 0.32);

  &-hover {
    border-color: $orn-3;
    box-shadow: -3px 2px 3px 1px rgba($rby-1, 0.32);
  }

  &-base {
    @include cycle($blu-0);

    &-alt {
      @include cycle($blu-4);
    }
  }

  &-moon {
    color: $glu-3;

    &-full {
      color: $brt-3;
    }
  }

  &-air {
    @include cycle($sky-4);
  }

  &-rain {
    @include cycle($blu-0);
  }

  &-morning {
    @include cycle($blu-0);
  }

  &-day {
    @include cycle($sun-2);
  }

  &-max {
    @include cycle($rby-3);
  }

  &-evening {
    @include cycle($prp-1);
  }

  &-night {
    @include cycle($glc-5);
  }

  &-index {
    &-base {
      @include cycle($blu-2);
    }

    &-low,
    &-good {
      @include cycle($grn-3);
    }

    &-moderate {
      @include cycle($sun-1);
    }

    &-high,
    &-poor {
      @include cycle($sun-4);
    }

    &-intense {
      @include cycle($rby-2);
    }

    &-extreme {
      @include cycle($pnk-2);
    }
  }
}

// }}}
// 🕐 time {{{
.time {
  background: $bg;
  border-radius: 27px 27px 69px 69px;
  border-width: 0 1px 3px;
  border-style: solid;
  border-color: $blu-1;
  box-shadow: 0 2px 7px 1px rgba($blu-0, 0.42);
  margin: -7px 16px 36px;
  transition: all 0.5s $ease-out-snap;

  &-hover {
    transition: all 0.5s $ease-out-snap;
    border-color: $orn-3;
    box-shadow: 0 2px 7px 1px rgba($rby-1, 0.42);
  }

  &-text {
    font-family: Archivo, monospace;
    color: $blu-2;
    font-weight: 500;
    font-size: 2.8em;
    margin-top: 4px;
    transition: all 0.5s $ease-out-snap;
  }

  &-clockface {
    font-size: 8px;
    margin: 4px 2px 0 0;
  }

  &-hour,
  &-minute {
    &-inactive {
      transition: color 0.5s $ease-out-snap;
      color: $blu-1;
    }

    &-active {
      transition: color 0.5s $ease-out-snap;
      color: $orn-3;

      &:hover {
        color: $rby-3;
        transition: all 0.25s $ease-out-snap;
      }
    }
  }

  &-alarm {
    margin-top: 7px;
    margin-right: -4px;
    margin-left: 4px;

    &-icon {
      margin-bottom: 1px;
      font-size: 0.85em;
    }

    &-subtext {
      font-size: 0.75em;
      margin-top: 2px;
      margin-right: 2px;
    }
  }

  &-timer {
    margin-top: 8px;
    margin-left: -2px;
    margin-right: 2px;

    &-subtext {
      font-family: monospace;
      margin-top: 1px;
      font-size: 0.75em;
    }
  }
}

// }}}
// 📆 date: {{{
.date {
  background: $bg;
  padding: 4px 1.1em;
  margin: 16px 8px 50px;
  border-left: 3px solid $blu-1;
  border-top: 1px solid $blu-1;
  border-radius: 17px 420px 69px;
  box-shadow: 3px 2px 3px 1px rgba($blu-0, 0.42);

  &-hover {
    border-color: $orn-3;
    box-shadow: 3px 2px 3px 1px rgba($rby-1, 0.42);
  }

  &-base {
    @include cycle($blu-2);

    &-alt {
      @include cycle($blu-4);
    }
  }

  &-alive {
    @include cycle($pnk-3);
  }

  &-dead {
    @include cycle($glc-5);
  }

  &-day {
    font-weight: bold;
    font-size: 1.1em;
  }

  &-weeks {
    font-family: Archivo, monospace;
  }

  &-Monday {
    @include cycle($pnk-4);
  }

  &-Tuesday,
  &-Thursday {
    @include cycle($emr-4);
  }

  &-Wednesday {
    @include cycle($orn-4);
  }

  &-Friday {
    @include cycle($rby-4);
  }

  &-Saturday,
  &-Sunday {
    @include cycle($prp-3);
  }
}

// }}}

// 🖥️ computer: {{{
.computerbox {
  background: $bg;
  border-top: 1px solid $blu-2;
  border-left: 3px solid $blu-1;
  padding: 6px 1.3em 4px;
  margin: 16px 8px;
  border-radius: 17px 420px 69px;
  box-shadow: 3px 2px 3px 1px rgba($blu-0, 0.42);
  font-family: monospace;

  &-hover {
    border-color: $orn-3;
    box-shadow: 3px 2px 3px 1px rgba($rby-1, 0.42);
  }
}

// }}}

// 👾 workspaces: {{{

.workspace {
  transition: all 0.25s $ease-out-snap;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  min-width: 36px;
  min-height: 36px;
  margin-bottom: 10px;
}

.workspacesbox {
  background: $bg;
  border-color: $blu-1;
  border-style: solid;
  border-width: 2px;
  border-radius: 100px;
  box-shadow: 0 0 5px 1px rgba($blu-1, 0.32);
  padding: 15px 10px 5px;
  margin: 20px;

  &-hover {
    border-color: $orn-3;
    box-shadow: 0 0 5px 1px rgba($rby-1, 0.42);
  }
}

// }}}

// 🎛️ systemctl: {{{
.systemctl {
  &box {
    @include svgbox("up");
  }

  &-hide {
    opacity: 0;
    margin-top: -100px;
  }

  &-restart {
    transition: margin 0.25s $ease-out-snap;
    color: $emr-1;
    font-size: 1.2em;
    margin: 0 0 -65px 20px;
  }

  &-poweroff {
    transition: margin 0.25s $ease-out-snap;
    color: $rby-1;
    font-size: 1.5em;
    margin-top: -30px;
    margin-left: -5px;
  }

  &-lock {
    transition: margin 0.25s $ease-out-snap;
    color: $blu-1;
    font-size: 1.3em;
    margin: -80px 0 0 27px;
  }
}

// }}}
// 🔆 screenctl {{{

.screenctlbox {
  @include svgbox("down");
}

// }}}
// 🔔 dunst: {{{

.dunst {
  &box {
    @include svgbox(up);

    margin-top: 10px;
  }

  &-count {
    color: $blu-0;
    transition: all 0.25s $ease-out-snap;
    font-family: monospace;
    font-size: 14px;
    margin-left: 38px;
    margin-top: 6px;
    border: 1px solid $glc-3;
    padding: 0 5px;
    border-radius: 24px;

    &-alert {
      border: 0;
      padding: 0;
      color: $pnk-1;
      font-size: 18px;
      margin-left: 42px;
      margin-top: 6px;
    }

    &-empty {
      border: 0;
      padding: 0;
      color: $glc-3;
      font-size: 18px;
      margin-left: 44px;
      margin-top: 7px;
    }
  }
}

// }}}
// 📶 network: {{{

.networkbox {
  @include svgbox("down");
}

.net {
  transition: margin 0.25s $ease-out-snap;
  font-size: 11px;

  &-up {
    margin-bottom: 18px;
    margin-left: 1px;

    &-hover {
      margin-bottom: 36px;
      margin-left: 36px;
    }
  }

  &-down {
    margin-bottom: 0px;
    margin-left: 8px;

    &-hover {
      margin-top: 24px;
      margin-left: 16px;
    }
  }

  &-ping {
    font-size: 11px;
    margin-top: 30px;
    margin-left: -3px;

    &-hover {
      font-size: 11px;
      margin-top: 3px;
      margin-left: 2px;
    }
  }
}

// }}}
// 📦 pacman: {{{
.pacman {
  font-size: 0.9em;

  &-hover {
    font-size: 1.25em;
    color: $orn-3;
    text-shadow: 0 0 3px rgba($rby-1, 0.69);
  }
}

// }}}
